<?xml version="1.0"?>
<launch>
	<arg name="id"  default="23"/>
	<arg name="value" default="344" />
	<node name ="friend_service_server" pkg="hello_friend" type="friend_service_server" output="screen"/>
	<node name ="friend_service_client" pkg="hello_friend" type="friend_service_client" output="screen">
		 <param name="id" value="$(arg id)" />
		 <param name="value" value="$(arg value)" />
	</node>
</launch> 
