<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node pkg="ros_visualization_skeleton" type="joy_hagen_basic_control" name="joy_hagen_basic_control" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" />
  <node pkg="tf" type="static_transform_publisher" name="sdfsfsf" args="" >
</launch>

